.signup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  z-index: 10;
  backdrop-filter: blur(1px) brightness(0.8);
}

.signup__modal {
  position: static;
}

.signup__form {
  display: grid;
  gap: 20px;
}

.signup__label {
  display: grid;
  gap: 4px;
}

.signup__button {
  margin-top: 20px;
}
