.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  color: rgb(42, 6, 242);
  background-color: #f2f2f2;
}

.header__logo {
  max-width: 60px;
  user-select: none;
}

.header__navigation {
  display: flex;
  gap: 32px;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 28px;
  padding: 0;
  list-style: none;
}

.header__item {
  padding: 0;
  list-style: none;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__button {
  background-color: #eda808;
  padding: 8px 16px;
  border: 2px solid #160bef;
  border-radius: 40px;
}
