.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  max-width: 80px;
}

.header__navigation {
  display: flex;
  gap: 30px;
}

.header__menu {
  display: flex;
  list-style: none;
  gap: 30px;
}

.header__item {
  text-decoration: none;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}
